// Colors accessible via nested maps
$color-map: (
    primary: (
        light   : #cfdec7,
        mild    : #abc69d,
        mid     : #87ae73,
        dark    : #435739
    ),
    secondary: (
        light   : #ffd700,
        dark    : #ccac00
    ),
    gray: (     
        light   : #f0f2f3,
        mild    : #a9b2bc,
        mid     : #708090,
        dark    : #434c56,
        jet     : #21262b
    )
);

// Media query upper sizes
$mobile-screen: 480px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1366px;

// Fonts
$default-font: 'Oxygen', sans-serif;
$header-font: 'Oxygen', sans-serif;

// Vertical indices
$banner-container: 1000;
$banner-canvas: -1;
$banner-particle: 1002;
$section-before: 1009;
$header-container: 1010;